    /* Main__ofertas */
    .main__title{
        font-family: 'Titan One', cursive;
        font-size: 60px;
        color: rgba(0, 17, 255, 0.747);
        text-align: center;
        font-weight:lighter;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .main__section{
        /* border: 1px solid black; */
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
        border-radius: 20px;
        background-color: #9688cca6;
    }
    
    .main__subtitle{
        font-family: 'Courgette', cursive;
        font-weight: bolder;
        font-size: 30px;
        color: rgba(0, 17, 255, 0.747);
        margin-left: 5rem;
    }
    .ofertas__flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .ofertas{
        margin: 16px;
        padding: 16px 32px;
        background-color: white;
        color:black;
        width:fit-content;
        height: fit-content;
        border: 2px solid rgba(0, 17, 255, 0.5);
        border-radius: 15px;
        display: block;
        position: relative;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5) ;
    }
    .ofertas__tit{
        font-family: 'Courgette', cursive;
        text-align: center;
        font-size: 1.5rem;
    }
    .ofertas__precio{
        font-family: 'Courgette', cursive;
        text-align: center;
        font-size: 1.2rem;
    }
    .ofertas__img1{
        width: 350px;
        height: 400px;
    }
    .ofertas__img2{
        width: 450px;
        height: 400px;
    }
    .ofertas__img3{
        width: 350px;
        height: 400px;
    }
    .kenburns-top:hover {
        animation: kenburns-top 2s ease-out both;
    }
    @keyframes kenburns-top {
        0% {
          transform: scale(1) translateY(0);
          transform-origin: 50% 16%;
        }
        100% {
          transform: scale(1.05) translateY(-10px);
          transform-origin: top;
        }
      }
    
        /* Main__productos */
    
    .productos__flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .productos{
        margin: 16px;
        padding: 16px 32px;
        background-color: white;
        color:black;
        width:fit-content;
        height: fit-content;
        border: 2px solid rgba(0, 17, 255, 0.5);
        border-radius: 15px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5) ;
    }
    .producto__tit{
        font-family: 'Courgette', cursive;
        text-align: center;
        font-size: 1.5rem;
    }
    .producto__precio{
        font-family: 'Courgette', cursive;
        text-align: center;
        font-size: 1.2rem;
    }
    .producto__img1{
        width: 350px;
        height: 400px;
    }
    .producto__img2{
        width: 450px;
        height: 400px;
    }
    .producto__img3{
        width: 350px;
        height: 400px;
    }
    
        /* Main__descripcion */
    .main__descripcion{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 2rem;
        border-radius: 20px;
        background-color: #dbd9e0a6;
        border: 2px solid rgba(0, 17, 255, 0.5);
        margin-top: 3rem;
        margin-bottom: 3rem;
        transition: background-color 2s ;
    }
    .main__descripcion:hover{
        background-color: #8a65e6a6;
    }
    
    .descipcion__subtitle{
        font-family: 'Courgette', cursive;
        font-weight: bolder;
        font-size: 40px;
        color: rgba(0, 17, 255, 0.747);
        margin-bottom: 1rem;
        text-align: center;
    }
    .descipcion__parrafo{
        font-family: cursive;
        font-size: 18px;
        font-style: italic;
        font-weight: lighter;
    }
    .ofertas__span{
        background-color: rgba(235, 195, 241, 0.822);
        color: rgba(0, 17, 255, 0.747);
        padding: 0.5rem 1rem;
        position: absolute;
        top: 3.5rem;
        right: 2.5rem;
        border-radius: 10px;
        border: 2px solid rgb(211, 61, 61);
        font-size: 20px ; 
        font-family: Arial, sans-serif;
        font-weight: bolder;
    }
    